/*Initilly styling for index.html*/
title{

}
p{
	color: #0000FF !important;
	background-color: default;
	font-family: default;
}
nav{
	color: #0000FF !important;
	background-color: #FFFF00;
	font-family: default;
}
section{
	
}
