{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Cyber Security and Forensics</title>
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css'%}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="{% static './style.css'%}">



</head>

<body>

  
<!-- partial:index.partial.html -->
<!-- Hero -->
<section class="et-hero-tabs">
   
   
  <div class="container">
    
    <div>
    <h1 class='splash-title'>Cyber Security and Forensics</h1>
    </div>
         
 
  </div>
  <div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
      <li data-target="#demo" data-slide-to="3"></li>
      <li data-target="#demo" data-slide-to="4"></li>
      <li data-target="#demo" data-slide-to="5"></li>
      <li data-target="#demo" data-slide-to="6"></li>
    </ul>
    
    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
      <img src="{% static 'cybersite_slides_img/img1.jpeg'%}">
        
      </div>
      <div class="carousel-item">
      <img src="{% static 'cybersite_slides_img/img2.jpeg'%}">
        
      </div>
      <div class="carousel-item">
      <img src="{% static 'cybersite_slides_img/img3.jpeg'%}">
      </div>

      <div class="carousel-item">
        <img src="{% static 'cybersite_slides_img/img4.jpeg'%}">
      </div>

      <div class="carousel-item">
        <img src="{% static 'cybersite_slides_img/img5.jpeg'%}">
      </div>

      <div class="carousel-item">
        <img src="{% static 'cybersite_slides_img/img6.jpeg'%}">
      </div>

      <div class="carousel-item">
        <img src="{% static 'cybersite_slides_img/img7.jpeg'%}">
      </div>
    </div>
    
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
    <!-- partial -->
  <script  src="{% static './script.js' %}"></script>
    
    <div class="et-hero-tabs-container">
      <a class="et-hero-tab" href="#tab-home">Home</a>
      <a class="et-hero-tab" href="#tab-about">About</a>
      <a class="et-hero-tab" href="#tab-blogs">Blogs</a>
      <a class="et-hero-tab" href="#tab-queries">Queries</a>
      <a class="et-hero-tab" href="#tab-team">Team</a>
      <span class="et-hero-tab-slider"></span>
    </div>
  </section>

  <!-- Main -->
  <main class="et-main">
    <section class="et-slide" id="tab-home">
      <h1>Whois lookup</h1>
      <h3>something about it</h3>
      <div class="field" id="searchform">
        <form method = "POST" action="/index/" >
          {% csrf_token %}
         <label>Enter IP :
           <input type="text" id="searchterm"  placeholder="IP input" name = "ip" />
        </label>
          <button type="submit" id="search">Search</button>
        </form>
      </div>
    </section>
    <!-- Tab for About -->
    <section class="et-slide" id="tab-about">
      <h1>About</h1>
      <h3>some useful info</h3>
      <section class="et-side-section" id="reference-links">
      	<h2>Some Important links for reference</h2>
      	<ul style="list-style-type: square;">
      		<li><a href="https://www.cybercrime.gov.in/Accept.aspx" target="_blank">National Cyber Crime Reporting Portal </a></li>
  			<li><a href="https://www.mha.gov.in/division_of_mha/cyber-and-information-security-cis-division" target="_blank">Cyber and Information Security (C&IS) Division of Ministry of Home Affairs</a></li>
  			<li><a href="https://www.cyberswachhtakendra.gov.in/" target="_blank">Cyber Swachhta Kendra</a></li>
  			<li><a href="http://www.cybercelldelhi.in/" target="_blank">Cyber Crime Unit Delhi Police</a></li>
  			<li><a href="https://ditec.assam.gov.in/" target="_blank">Directorate of Information Technology, Electronics and Communication</a></li>
  		</ul>
      </section>
      <section class="et-side-section" id="about-complaint">
      	<h2>Want to file a complaint?</h2>
      	<p>Visit <a href="https://www.cybercrime.gov.in/Accept.aspx" target="_blank">National Cyber Crime Reporting Portal </a></p>
      </section>
      <section class="et-side-section" id="about-news">
      	<h2>News and Announcements!</h2>
      	<ul style="list-style-type: none">
      		<li><><a href="https://www.cybercrime.gov.in/Accept.aspx" target="_blank">News1</a></li>
  			<li><><a href="https://www.mha.gov.in/division_of_mha/cyber-and-information-security-cis-division" target="_blank">News2</a></li>
  			<li><><a href="https://www.cyberswachhtakendra.gov.in/" target="_blank">News3</a></li>
  			<li><><a href="http://www.cybercelldelhi.in/" target="_blank">News4</a></li>
  			<li><><a href="https://ditec.assam.gov.in/" target="_blank">News5</a></li>
  		</ul>
      </section>
      
    </section>
    <!--The About Tab ends here-->

    <!--The Blog Tab starts here-->

    <section class="et-slide" id="tab-blogs">
      <section class="blog" data-scroll-index="4">
        <div class="container">
          <!-- header of section -->
          <div class="blog-head text-center">
            <h2>Blogs</h2>
            <h6>some latest blogs</h6>
          </div>

          <!-- blog items -->
          <div class="row">
            <div class="col-md-6 col-lg-4">
              <div class="item">
                <div class="img">
                  <img src="https://i.ibb.co/CKNmhMX/blog1.jpg" alt="">
                </div>
                <div class="info">
                  <div class="date">
                    <span>05 <br> Nov</span>
                  </div>
                  <a href=""><h5>Lorem Ipsum is simply dummy</h5></a>
                  <p>Lorem ipsum dolor sit amet conse ctetur, adipi sicing elit. Nisi sapiente hic fugiat delectus dicta delectus dicta.</p>
                  <a href="#0" class="user"><i class="fas fa-user"></i>Admin</a>
                  <a href="#0" class="more"><i class="fas fa-long-arrow-alt-right"></i></a>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="item">
                  <div class="img">
                    <img src="https://i.ibb.co/m5yGbdR/blog2.jpg" alt="">
                  </div>
                  <div class="info">
                    <div class="date">
                      <span>19 <br> Dec</span>
                    </div>
                    <a href=""><h5>Lorem Ipsum is simply dummy</h5></a>
                    <p>Lorem ipsum dolor sit amet conse ctetur, adipi sicing elit. Nisi sapiente hic fugiat delectus dicta delectus dicta.</p>
                    <a href="#0" class="user"><i class="fas fa-user"></i>Admin</a>
                    <a href="#0" class="more"><i class="fas fa-long-arrow-alt-right"></i></a>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-lg-4">
                <div class="item">
                  <div class="img">
                    <img src="https://i.ibb.co/YXV3zmh/blog3.jpg" alt="">
                  </div>
                  <div class="info">
                    <div class="date">
                      <span>25 <br> Dec</span>
                    </div>
                    <a href=""><h5>Lorem Ipsum is simply dummy</h5></a>
                    <p>Lorem ipsum dolor sit amet conse ctetur, adipi sicing elit. Nisi sapiente hic fugiat delectus dicta delectus dicta.</p>
                    <a href="#0" class="user"><i class="fas fa-user"></i>Admin</a>
                    <a href="#0" class="more"><i class="fas fa-long-arrow-alt-right"></i></a>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </section>
    </section>
    <!--The Blog Tab ends here-->
     
    <!-- Tab for Queries -->
    <section class="et-slide" id="tab-queries">
      <h1>Ask us questions</h1>
      <h3>mail or contact us through this</h3>
    </section>
    <!-- Tab for Team -->
    <section class="et-slide" id="tab-team">
      <h1>Team members</h1>
      <h3>Development and cyber team</h3>
      <section class="et-members" id="team-members1">
      	<img src="imgsor=urce.jpg" alt="Image of member">
      	<p>Member's Image and details</p>
      </section>
      <section class="et-members" id="team-members2">
      	<img src="imgsor=urce.jpg" alt="Image of member">
      	<p>Member's Image and details</p>
      </section>
      <section class="et-members" id="team-members3">
      	<img src="imgsor=urce.jpg" alt="Image of member">
      	<p>Member's Image and details</p>
      </section>
      <section class="et-members" id="team-members4">
      	<img src="imgsor=urce.jpg" alt="Image of member">
      	<p>Member's Image and details</p>
      </section>
      <section class="et-members" id="team-members5">
      	<img src="imgsor=urce.jpg" alt="Image of member">
      	<p>Member's Image and details</p>
      </section>
      <section class="et-members" id="team-members6">
      	<img src="imgsor=urce.jpg" alt="Image of member">
      	<p>Member's Image and details</p>
      </section>
    </section>
  </main>
<!-- partial -->

  <script  src="{% static './script.js'%}"></script>

</body>
</html>
    