{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Cyber Security and Forensics</title>
  <link href="{% static ' https://fonts.googleapis.com/css?family=Lato:400,700' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css'%}">
<link rel="stylesheet" href="{% static './style.css'%}">

</head>
<body>
<!-- partial:index.partial.html -->
<!-- Hero -->
  <section class="et-hero-tabs">
    <h1>Cyber Security and Forensics</h1>
    <h3>Sliding content with sticky tab nav</h3>
    <div class="et-hero-tabs-container">
      <a class="et-hero-tab" href="#tab-home">Home</a>
      <a class="et-hero-tab" href="#tab-about">About</a>
      <a class="et-hero-tab" href="#tab-blogs">Blogs</a>
      <a class="et-hero-tab" href="#tab-queries">Queries</a>
      <a class="et-hero-tab" href="#tab-team">Team</a>
      <span class="et-hero-tab-slider"></span>
    </div>
  </section>

  <!-- Main -->
  <main class="et-main">
    <section class="et-slide" id="tab-home">
      <h1>Who am i?/Who is lookup?</h1>
      <h3>something about it</h3>
      <div class="field" id="searchform">
        <form method = "POST" action="." >
          {% csrf_token %}
         <input type="text" id="searchterm" placeholder="IP input" />
          <button type="submit" id="search">Save</button>
        </form>
      </div>
    </section>
    <section class="et-slide" id="tab-about">
      <h1>About the content</h1>
      <h3>forensics, Crime</h3>
    </section>
    <section class="et-slide" id="tab-blogs">
      <h1>Blogs</h1>
      <h3>some blogs here</h3>
    </section>
    <section class="et-slide" id="tab-queries">
      <h1>Ask us questions</h1>
      <h3>mail or contact us through this</h3>
    </section>
    <section class="et-slide" id="tab-team">
      <h1>Team members</h1>
      <h3>Development and cyber team</h3>
    </section>
  </main>
<!-- partial -->
  <script src="{% static 'https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'%}"></script>
  <script  src="{% static './script.js'%}"></script>

</body>
</html>
